<footer class="footer">
  <div class="social">
    <a href="https://facebook.com/fit360gym" target="_blank" rel="noreferrer"><i class="bx bxl-facebook"></i></a>
    <a href="https://instagram.com/fit360gym" target="_blank" rel="noreferrer"><i class="bx bxl-instagram"></i></a>
  </div>
  <p class="copyright">&copy; Fit 360 2026 | Todos los derechos reservados.</p>
</footer>
